.hero_img {
  width: 100%;
  height: 300px;
  background: url("https://i.imgur.com/mXTYFHZ.jpg");
  background-size: 100%;
  background-position-y: 35%;
  background-repeat: no-repeat;
  margin: 0px;
}

#active a {
  color: #337ab7;
}

.title_container {
  padding-top: 80px;
}
h1 {
  font-family: arial;
  text-align: center;

  font-weight: bold;
  font-size: 60px;
  margin-top: 0px;
}

h2 {
  text-align: center;
}
h3 {
  text-align: center;
  font-size: 35px;
}

.main_content-column {
  width: 70%;
  height: 100%;
  margin: auto;
  background-color: white;
  padding: 30px;
}

body {
  background-size: 100% 24%;
  background-repeat: no-repeat;
  background-color: white;
}
#welcome_message{
  font-family:sans-serif;
  text-align: center;
}
li a {
    color: white;
  }
#navigation_bar {
    padding: 10px;
    background: black;
    width: max-width;
    text-align: center;
  }
li{
  display: inline;
  padding: 0px 10px 0px 10px;
  font-weight: bold;
}
.img-circle {
  border-radius: 100%;
  border-color: black;
  height: auto;
  width: auto;
  max-width: 25%;
  max-height: 25%;
}
.btn-twitter {
  background: #00acee;
  border-color: #009ad5;
}
.btn-facebook {
  background: #4868ac;
  border-color: #314776;
}
.btn-pinterest {
  background: #b62f26;
  border-color: #b62f62;
}

#social-buttons button {
  color: white;
  align-items: center;
}

input {
    border: 0;
    padding: 10px;
    font-size: 18px;

  }
