h1 {
    color: blue;
    font-family: 'Bellefair';
    text-align: center;
}
body {
  background: url("https://i.imgur.com/mXTYFHZ.jpg");
  background-size: 100% 85%;
  background-repeat: no-repeat;
  background-color: white;
}
p{
  font-family:sans-serif;
  text-align: center;
}
a {
    color: white;
  }
navigation bar {
    padding: 10px;
    background: black;
    width: max-width;
    text-align: center;
  }
li{
  display: inline;
  padding: 0px 10px 0px 10px;
}
.img-circle {
  border-radius: 100%;
  border-color: black;
  height: auto;
  width: auto;
  max-width: 25%;
  max-height: 25%;
}

/*input {
    border: 0;
    padding: 10px;
    font-size: 18px;
}
